@{
    ViewBag.ToolbarTitle = "Smash Network";
    
    // These two are temporary -> Until login is fully configured
    ViewBag.IsLoggedIn = false;
    ViewBag.Username = "takaji";
}

@section AdditionalImports {
    <link rel="import" href="~/Scripts/Polymer/paper-item/paper-item.html">   
    <link rel="import" href="~/Scripts/Polymer/custom-elements/smash-network-fab.html">   
}

@section AdditionalStyles {
    container: {
        padding-top: 60px;
    }

    paper-fab {
        background-color: transparent;
    }
}

<div class="horizontal layout">
    <smash-network-navigator></smash-network-navigator>
    <div class="container">
        <paper-item>
            <div>Register?</div>
        </paper-item>
        <smash-network-fab icon="add" link="/Home/Register"></smash-network-fab>
    </div>
</div>

