@{
    ViewBag.Title = "Home Page";
}

<div class="content-wrapper-navigator">
    <div class="layout horizontal">
        <smash-network-navigator></smash-network-navigator>

        <div class="main-smash-content">
            <p>asdfasdf</p>
            <h1>adsfasdfsdafdsf</h1>
        </div>
    </div>

    

</div>

