<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Smash Network</a>
        </div>
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" />
            </div>
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="glyphicon glyphicon-bell"></i></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
        </ul>
    </div>
</nav>